<app-admin-header></app-admin-header>
<div class="create-laptop">
  <h2>Crear nuevo portátil</h2>

  <!-- Mensaje de éxito -->
  <p *ngIf="successMessage" class="success">{{ successMessage }}</p>

  <!-- Mensaje de error -->
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

  <form [formGroup]="laptopForm" (ngSubmit)="onSubmit()">
    <!-- Campo Descripción -->
    <div>
      <label for="description">Descripción:</label>
      <input id="description" formControlName="description" type="text" />
      <p *ngIf="laptopForm.get('description')?.invalid && laptopForm.get('description')?.touched" class="error-message">
        La descripción es obligatoria.
      </p>
    </div>

    <!-- Campo Serial -->
    <div>
      <label for="serial">Serial:</label>
      <input id="serial" formControlName="serial" type="text" />
      <p *ngIf="laptopForm.get('serial')?.invalid && laptopForm.get('serial')?.touched" class="error-message">
        El serial es obligatorio.
      </p>
    </div>
    <!-- Botón Crear Portátil -->
    <button type="submit" [disabled]="laptopForm.invalid">Crear Portátil</button>
  </form>
</div>
  
<app-footer></app-footer>