<app-student-header></app-student-header>
<div class="container">
  <h1>Reserva tu Computador</h1>
  <div class="computer-grid">
    <div *ngFor="let laptop of laptops">
      <h3>{{ laptop.name }}</h3>
      <mat-form-field>
        <mat-label>Seleccionar Fecha</mat-label>
        <input matInput [matDatepicker]="picker" (dateChange)="updateDate(laptop.id, $event.value)">
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <ngx-material-timepicker (timeSet)="updateTime(laptop.id, $event)">
        <button mat-raised-button>
          Seleccionar Hora
        </button>
      </ngx-material-timepicker>
      <button mat-raised-button color="primary" (click)="reserveLaptop(laptop.id)">
        Reservar
      </button>
    </div>
  </div>
</div>

<app-footer></app-footer>
