<app-header></app-header>
<section class="container custom-container">
  <div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
      <form (ngSubmit)="register()" style="max-width: 700px; min-width: 400px">
        
        <!-- Campo de Email -->
        <div class="form-group row">
          <label for="email" class="col-4 col-form-label">Email</label>
          <div class="col-8">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fas fa-envelope"></i>
                </div>
              </div>
              <input
                id="email"
                name="email"
                [(ngModel)]="email"
                type="email"
                class="form-control"
                required
              />
            </div>
          </div>
        </div>
        
        <!-- Botón para enviar el código -->
        <div class="form-group row">
          <div class="offset-4 col-8">
            <button 
              type="button" 
              class="btn btn-secondary" 
              (click)="sendCode()">
              Enviar código
            </button>
          </div>
        </div>

        <!-- Campo de Password -->
        <div class="form-group row">
          <label for="password" class="col-4 col-form-label">Password</label>
          <div class="col-8">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-lock"></i>
                </div>
              </div>
              <input
                id="password"
                name="password"
                [(ngModel)]="password"
                type="password"
                class="form-control"
                required
              />
            </div>
          </div>
        </div>
        
        <!-- Campo de Verification Code -->
        <div class="form-group row">
          <label for="code" class="col-4 col-form-label">Verification Code</label>
          <div class="col-8">
            <input
              id="code"
              name="code"
              [(ngModel)]="code"
              type="text"
              class="form-control"
              required
            />
          </div>
        </div>

        <!-- Botón para registrar -->
        <div class="form-group row">
          <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary">
              Register
            </button>
          </div>
        </div>

      </form>
      <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
    </div>
  </div>
</section>
<app-footer></app-footer>
